/*
Autor: Francisco Maass Villarreal
Matricula: A01136728
Clase: Desarrollo de Applicaciones web
Periodo: Verano 2017
Profesor: MSc Alfredo Salazar Vélez
Escuela: Instituto tecnológico y de estudios superoipres de Monterrey
Campus: Monterrey

CSS: Cascade styling sheet
*/

body{
	font-family: Verdana, sans-serif;
	font-size: 13px;
	color: #303030;
	margin: 0;
	padding: 0;
}

h2{
	background-color: #F26922;
	margin: 0px;
	padding: 20px;
	color: white;
}

div.contenido, h1, .contenido > p{
	background-color: #FFFFFF;
	margin-left: 20px;
}

div#encabezado{
	background-color: #F26922;
	height: 60px;
	overflow: hidden;
}

div#sesiones{
	background-color: #303030;;
	height: 30px;
	overflow: hidden;
}

div#logo{
	float: left;
	height: 60px;
}

div#titulo{
	float: left;
	height: 60px;
	margin-left: 10px;
}

ul#menu{
	list-style: none;
	margin: 0px;
	padding: 0;
	height: 60px;
	background-color: #F26922;
	float: right;
	overflow: hidden;
	color: white;
}

ul#menuSesiones{
	list-style: none;
	margin: 0px;
	padding: 0;
	height: 30px;
	background-color: #303030;
	float: right;
	overflow: hidden;
	color: white;
}

ul#menu li{
	float: right;
	padding: 20px;
	height: 60px;
}
ul#menuSesiones li{
	float: right;
	padding: 10px 20px 0 0 ;
	height: 30px;
	font-size: .8em;
}

ul#menu li:hover, ul#menu li.selected{
	background-color:  #303030;
	color: white;
	cursor: pointer;
}

ul#menuSesiones li:hover, ul#menuSesiones li.selected{
	color:  #F26922;
	cursor: pointer;
}

div#orden{
	float: left;
}

div#resumen{
	float: left;
} 

div#resumen > fieldset{
	border: 2px dashed #F26922;
}

fieldset{
	border: 2px groove #F26922;
	width: 400px;
	margin: 20px;
	padding: 20px;
}

legend{
	font-size: 1.3em;
	font-weight: 900;
}

fieldset > span{
	padding: 5px 0px;
	display: block;
}

span > p{
	margin: 5px;
}

#slogan{
	font-weight: bold;
}

.opcionesComplementos{
	overflow: hidden;
}

.complementosCol1, .complementosCol2, #resumen{
	float: left;
	margin-left: 20px;
}

select{
	font-size: 1em;
	width: 150px;
}

.opcionesCantidad{
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}

#cantidad{
	margin-left: 10px;
	width: 35px;
}

#submitForm{
	background: #F26922;
}

#resetForm{
	background: #303030;
}

input[type=submit]{
	padding: 10px 20px;
	font-size: 1.3em;
	color: white;
	margin: 10px 0 0 10px;
	border: 0;
	text-align: center;
}

input[type=submit]:hover{
	cursor: pointer;
}
 
.errores{
	font-weight: bold;
	font-size: 1.3em;
	border: 1px solid red;
	color: black;
	padding: 10px;
	display: block;
}

.hidden{
	display: none;
}

.chefs{
	margin: 20px 20px 0 20px;
	padding: 10px 0 0 10px;
	text-align: center;
	display: block;
	min-width: 200px;
	max-width: 400px;
	overflow: hidden;
	float: left;
	font-size: 1.3em;
	
}

.chefs > h2 {
	background-color: white;
	color: #F26922;


}

.especialidades{
	padding: 10px 0 0 10px;
	background-color: #F26922;
	color: white;
	height:  150px
}

.especialidades >ul {
	list-style: none;
	margin: 0px;
	padding: 0;

}

#correoTexto{
	min-width: 250px;
	min-height: 100px; 
}
